<app-header-html></app-header-html>
<div class="row justify-content-center">
  <div class="col-md-5 login">
    <div class="row justify-content-center inputs">
      <div class="col-md-8">
        <div>Zarejestruj sie</div>

        <input [(ngModel)]="registerForm.username" type="text" class="form-control" id="name" #login placeholder="imie">
        <input [(ngModel)]="registerForm.lastName" type="text" class="form-control password" id="last-name" #password placeholder="nazwisko">

        <input [(ngModel)]="registerForm.emailAddress" type="text" class="form-control password" id="email" #login placeholder="adres email">
        <input [(ngModel)]="registerForm.password" type="text" class="form-control password" id="password" #password placeholder="haslo">
        <input [(ngModel)]="registerForm.passwordConfirm" type="text" class="form-control password" id="repeat-password" #password placeholder="powtorz haslo">

        <select #chosen class="selectpicker" data-style="btn-primary">
          <option selected>design</option>
          <option>landscape</option>
          <option>architects</option>
        </select>

        <input (click)="register()" class="btn btn-primary btn-block password" type="button" value="REGISTER">
      </div>
    </div>
  </div>
</div>
<div class="login-footer">
  <app-footer-html></app-footer-html>
</div>

