.login {
  background-color: #80808036;
  margin-top: 50px;
  height: 450px;
  border-radius: 10px;
}
.login-footer {
  margin-top: 50px;
}
.inputs {
  margin-top: 50px;
  border-radius: 10px;
  outline: none;
  box-shadow: none;
}
.password {
  margin-top: 20px;
}
.btn,
.btn:hover,
.btn:active,
.btn:focus {
  background-color: #808080d9;
  border: none;
  outline: none;
  box-shadow: none;
}
.selectpicker {
  margin-top: 10px;
  height: 35px;
  width: 300px;
  border-radius: 5px;
  background-color: #fff;
}
