.btn,
.btn:hover,
.btn:active,
.btn:focus {
  background-color: #808080d9;
  border: none;
  outline: none;
  box-shadow: none;
}

.user-detail-container {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #8080801a;
  border-radius: 5px;
}
.message-button {
  margin-top: 20px;
  background-color: #80808057;
  color: #000000d9;
  font-weight: bold;
  font-size: 14px;
  border: none;
}
.details {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
}
.comments {
  margin-top: 30px;
}
.comments textarea {
  border-radius: 5px;
}
.checked {
  color: orange;
}
.message-button:hover,
.message-button:active,
.message-button:focus {
  background-color: #808080a6;
  box-shadow: none;
  outline: none;
}
.modal-dialog {
  width: 400px;
}

