<app-header-html></app-header-html>

<div class="row justify-content-center">

  <div class="col-md-8">
    <div class="row user-detail-container">
      <div class="col-md-4 details">
        <img src={{me.imagePath}} alt="Image is not available" height="120px">
        <div>
          <input (click)='navigate()' class="btn btn-primary message-button" type="button" value="Edytuj Profil" data-toggle="modal" data-target="#ratingModal">
        </div>

      </div>
      <div class="com-md-8 details">
        <div>{{me.firstName}} {{me.lastName}}</div>

        <div>
          <span class="fa fa-star" id="rate1" (click)='add(this,1)'></span>
          <span class="fa fa-star" id="rate2" (click)='add(this,2)'></span>
          <span class="fa fa-star" id="rate3" (click)='add(this,3)'></span>
          <span class="fa fa-star" id="rate4" (click)='add(this,4)'></span>
          <span class="fa fa-star" id="rate5" (click)='add(this,5)'></span>
        </div>

        <div>{{me.emailAddress}}</div>
        <div>{{me.phoneNumber}}</div>
        <div>{{me.description}}</div>
      </div>

    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-6">
        <div id="testCar" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="assets/images/portfolio1.jpeg" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="assets/images/imageN.png" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="assets/images/portfolio1.jpeg" alt="Third slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#testCar" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#testCar" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center comments">
  <div class="col-md-8">
    <div class="row">


    </div>
  </div>
</div>

<app-footer-html></app-footer-html>



