.main-container {
  margin-top: 30px;
}
input {
  margin-bottom: 20px;
}
.btn,
.btn:hover,
.btn:active,
.btn:focus {
  background-color: #808080d9;
  border: none;
  outline: none;
  box-shadow: none;
  margin-top: 5px;
  margin-right: 5px;
}


