<app-header-html></app-header-html>

<div class="row justify-content-center">
  <div class="col-md-8 main-container">

    <img src="assets/images/imageN.png" alt="Image is not available" height="120px">

    <input type="text" class="form-control" id="name" #name placeholder="imie">
    <input type="text" class="form-control" id="last-name" #lastname placeholder="nazwisko">
    <input type="text" class="form-control" id="email" #email placeholder="adres email">
    <input type="text" class="form-control" id="webSite" #website placeholder="strona www">
    <input type="text" class="form-control" id="phoneN" #phoneN placeholder="numer telefonu">


    <input type="text" class="form-control" id="city" #city placeholder="miasto">
    <input type="text" class="form-control" id="province" #province placeholder="wojewodztwo">

    <textarea rows="8" cols="50" #description>
       Description
    </textarea>

    <div>PORTFOLIO</div>

    <img src="assets/images/imageN.png" alt="Image is not available" height="120px">

    <input class="btn" type="button" value="DODAJ ZDIECJE">
    <input class="btn" type="button" value="USUN ZDJECIE">


    <input class="btn btn-primary btn-block " type="button" value="SAVE">


  </div>

</div>




<app-footer-html></app-footer-html>
