<app-header-html></app-header-html>
<div class="row justify-content-center">
  <div class="col-md-3 login">
    <div class="row justify-content-center inputs">
      <div class="col-md-8">
        <div>Zaloguj sie</div>
        <input [(ngModel)]="loginForm.username" type="text" class="form-control" id="login" #login placeholder="username">
        <input [(ngModel)]="loginForm.password" type="text" class="form-control password" id="password" #password placeholder="password">
        <input (click)="doLogin()" class="btn btn-primary btn-block password" type="button" value="LOGIN">
      </div>
    </div>
  </div>
</div>
<div class="login-footer">
  <app-footer-html></app-footer-html>
</div>

