header {
  height: 80px;
  background-color: #000000b0;
}
.logo {
  color: #ffffffb3;
  font-size: 22px;
  letter-spacing: 2px;
  border-top: 1px solid #ffffffb3;
}
.logo-wrapper {
  padding-top: 20px;
}
.icons {
  color: #ffffffb3;
  font-size: 20px;
  margin-left: 10px;
}
.header-singns {
  color: #ffffffb3;
  margin-left: 10px;
}
.fas.fa-bars {
  font-size: 28px;
}
.flex-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.flex-container .btn {
  height: 55px;
  width: 280px;
  color: #0000009e;
  font-weight: bold;
}
.btn.first {
  background-color: #000000b0;
  color: #ffffffb3;
}
.filter-container {
  margin-top: 20px;
}
.filter-container span {
  margin-left: 3px;
}
.selectpicker {
  display: flex!important;
  height: 35px;
  width: 300px;
  border-radius: 5px;
  background-color: #fff;
}
.filter-container {
  display: flex;
}
.label-name {
  margin-bottom: 0;
}
.filterBy,
.searchByName {
  margin-left: 100px;
}
.searchByName input {
  width: 300px;
}

.user-container {
  margin-top: 60px;
}
.users {
  border: 1px solid #00000026;
  margin-bottom: 10px;
}
.users img {
  margin-top: 10px;
  margin-bottom: 10px;
}
.description {
  margin-top: 30px;
}
.pagination .user-pagination {
  color: #0000005e;
}
footer {
  height: 100px;
  background-color: #000000b0;
  margin-top: 50px;
}
.footer-link {
  color: #ffffffb3;
  font-size: 14px;
}
.footer {
  margin-left: 40px;
  padding-top: 20px;
}
