<!DOCTYPE html>
<html lang="pl">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Architects</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

</head>

<body>

  <!--<header>-->
    <!--<div class="logo-wrapper">-->
      <!--<div class="container">-->
        <!--<div class="row">-->
          <!--<div class="col-md-2">-->
            <!--<span class="logo">ACME</span>-->
          <!--</div>-->
          <!--<div class="col-md-5"></div>-->
          <!--<div class="col-md-5 col-md-offset-6">-->
            <!--<span class="fas fa-search icons"></span>-->
            <!--<span class="header-singns">ABOUT US</span>-->
            <!--<span class="fas fa-envelope icons"></span>-->
            <!--<span class="fab fa-facebook-square icons"></span>-->
            <!--<span class="fas fa-user icons"></span>-->
            <!--<span class="header-singns">SING UP</span>-->
            <!--<span class="header-singns">LOG IN</span>-->
            <!--<span class="fas fa-bars icons"></span>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</header>-->


  <!--<app-landing-html></app-landing-html>-->

  <!--<a (click)="navigate()" class="nav-link">-->
    <!--Create Ad Units-->
  <!--</a>-->

  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>

  <!--<app-footer-html></app-footer-html>-->

  <!--<footer>-->
    <!--<div class="col-md-10 footer">-->
      <!--<div class="footer-link">Why Us</div>-->
      <!--<div class="footer-link">How do we work</div>-->
      <!--<div class="footer-link">FAQ</div>-->
    <!--</div>-->
  <!--</footer>-->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>
