header {
  height: 80px;
  background-color: #000000b0;
}
.logo {
  color: #ffffffb3;
  font-size: 22px;
  letter-spacing: 2px;
  border-top: 1px solid #ffffffb3;
}
.logo-wrapper {
  padding-top: 20px;
}
.icons {
  color: #ffffffb3;
  font-size: 20px;
  margin-left: 10px;
}
.header-singns {
  color: #ffffffb3;
  margin-left: 10px;
}
.fas.fa-bars {
  font-size: 28px;
}
