<header>
  <div class="logo-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <a (click)="navigateHome()"><span class="logo">ARCHITEKCI.PL</span></a>
        </div>
        <div class="col-md-5"></div>
        <div class="col-md-5 col-md-offset-6">
          <span class="fas fa-search icons"></span>
          <span class="header-singns">ABOUT US</span>
          <span (click)="navigateToRegister()" class="header-singns">SING UP</span>
          <span (click)="navigateToLogin()" class="header-singns">LOG IN</span>
          <span class="fas fa-bars icons"></span>
        </div>
      </div>
    </div>
  </div>
</header>
