.flex-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.flex-container .btn {
  height: 55px;
  width: 280px;
  color: #0000009e;
  font-weight: bold;
}
.btn:active,
.btn:focus,
.btn:hover {
  background-color: #00000069;
  color: #fff;
  border: none;
  box-shadow: none;
  outline: none;
}
.filter-container {
  margin-top: 20px;
}
.filter-container span {
  margin-left: 3px;
}
.selectpicker {
  display: flex!important;
  height: 35px;
  width: 300px;
  border-radius: 5px;
  background-color: #fff;
}
.filter-container {
  display: flex;
}
.label-name {
  margin-bottom: 0;
}
.filterBy,
.searchByName {
  margin-left: 70px;
}
.searchByName input {
  width: 300px;
}

.user-container {
  margin-top: 60px;
}
.users {
  border: 1px solid #00000026;
  margin-bottom: 10px;
}
.users img {
  margin-top: 10px;
  margin-bottom: 10px;
}
.description {
  margin-top: 30px;
}
.pagination .user-pagination {
  color: #0000005e;
}
