<app-header-html></app-header-html>

<div class="flex-container">
  <div>
    <input (click) = "filterByCategory('architects')" class="btn" type="button" value="ARCHITECTS">
  </div>
  <div>
    <input (click) = "filterByCategory('landscape')" class="btn" type="button" value="LANDSCAPE">
  </div>
  <div>
    <input (click) = "filterByCategory('design')" class="btn last" type="button" value="DESIGN">
  </div>
  <div>
    <input class="btn" type="button" value="SUBCONTRACTOR">
  </div>
</div>

<div class="col-md-12">
  <div class="filter-container">

    <div class="filterBy">
      <span>Sort By Rate</span>
      <select #chosenRate (change)="sortByRate(chosenRate.value)" class="selectpicker" data-style="btn-primary">
        <option selected>najwyzsza</option>
        <option>najnizsza</option>
      </select>
    </div>

    <div class="filterBy">
      <span>Filter By</span>
      <select #chosen (change)="filterByProvince(chosen.value)" class="selectpicker" data-style="btn-primary">
        <option selected>dolnośląskie</option>
        <option>kujawsko-pomorskie</option>
        <option>lubelskie</option>
        <option>lubuskie</option>
        <option>łódzkie</option>
        <option>malopolskie</option>
        <option>mazowieckie</option>
        <option>opolskie</option>
        <option>podkarpackie</option>
        <option>podlaskie</option>
        <option>pomorskie</option>
        <option>śląskie</option>
        <option>świętokrzyskie</option>
        <option>warmińsko-mazurskie</option>
        <option>wielkopolskie</option>
        <option>zachodniopomorskie</option>
      </select>
    </div>

    <div class="searchByName">
      <label for="name" class="label-name">Search by name</label>
      <input (keyup.enter)="filterByLastName(lastName.value)" type="text" class="form-control" id="name" #lastName>
      <!--<input (click) = "filterByLastName(lastName.value)" class="btn" type="button" value="SEARCH">-->
    </div>
  </div>
</div>
<div *ngFor="let user of users" class="container user-container">
  <div class="row users">
    <div class="col-md-4">
      <a (click)="navigate(user.id)" class="nav-link" routerLinkActive="active">
        <img src={{user.imagePath}} alt="Image is not available" height="120px">
      </a>
    </div>
    <div class="col-md-8">
      <a (click)="navigate(user.id)" class="nav-link" routerLinkActive="active">
        <div>{{user.firstName}} {{user.lastName}}</div>
      </a>
      <!--<div>{{user.firstName}}</div>-->
      <!--<div>{{user.lastName}}</div>-->
      <div>{{user.emailAddress}}</div>
      <div>{{user.webSite}}</div>
      <div>{{user.phoneNumber}}</div>
      <div class="description">
        {{user.description}}  ...
      </div>
    </div>
  </div>

</div>

<nav>
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link user-pagination" href="#" tabindex="-1"><</a>
    </li>
    <li class="page-item"><a class="page-link user-pagination" href="#">1</a></li>
    <li class="page-item"><a class="page-link user-pagination" href="#">2</a></li>
    <li class="page-item"><a class="page-link user-pagination" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link user-pagination" href="#">></a>
    </li>
  </ul>
</nav>

<app-footer-html></app-footer-html>
