.user-detail-container {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #8080801a;
  border-radius: 5px;
}
.message-button {
  margin-top: 20px;
  background-color: #80808057;
  color: #000000d9;
  font-weight: bold;
  font-size: 14px;
  border: none;
}
.details {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
}
.comments {
  margin-top: 30px;
}
.comments textarea {
  border-radius: 5px;
  margin-top: 10px;
}
.checked {
  color: orange;
}
.message-button,
.message-button:hover,
.message-button:active,
.message-button:focus {
  background-color: #808080a6;
  box-shadow: none;
  outline: none;
}
.modal-dialog {
  width: 400px;
}
.comments-body {
  margin-top: 10px;
  margin-bottom: 5px;
  border-bottom: 1px solid #00000052;
}
/*.comments:last-child {*/
  /*border-bottom: none;*/
/*}*/
.comment-button,
.comment-button:hover,
.comment-button:active,
.comment-button:focus {
  width: 150px;
  margin-top: 20px;
  background-color: #808080a6;
  box-shadow: none;
  outline: none;
  border: none;
  color: black;
  font-weight: bold;
  float: right;
  font-size: 14px;
}
input.btn.btn-primary.comment-button {
  background-color: #808080a6;
  box-shadow: none;
  outline: none;
  border: none;
  color: black;
  font-weight: bold;
}
