<app-header-html></app-header-html>

<div class="row justify-content-center">

  <div class="col-md-8">
    <div class="row user-detail-container">
      <div class="col-md-4 details">
        <img src={{user.imagePath}} alt="Image is not available" height="120px">

        <div>
          <input class="btn btn-primary message-button" type="button" value="Wyslij wiadomosc">
        </div>

        <div>
          <input (click)='openModal()' class="btn btn-primary message-button" type="button" value="Ocen Uzytkownika" data-toggle="modal" data-target="#ratingModal">
        </div>

      </div>
      <div class="com-md-8 details">
        <div>{{user.firstName}} {{user.lastName}}</div>

        <div>
          <span class="fa fa-star" id="rate1" (click)='add(this,1)'></span>
          <span class="fa fa-star" id="rate2" (click)='add(this,2)'></span>
          <span class="fa fa-star" id="rate3" (click)='add(this,3)'></span>
          <span class="fa fa-star" id="rate4" (click)='add(this,4)'></span>
          <span class="fa fa-star" id="rate5" (click)='add(this,5)'></span>
        </div>

        <div>{{user.emailAddress}}</div>
        <div>{{user.phoneNumber}}</div>
        <div>{{user.description}}</div>
      </div>

    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="row">
    <div class="col-md-6">
      <div id="testCar" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="assets/images/portfolio1.jpeg" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="assets/images/imageN.png" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="assets/images/portfolio1.jpeg" alt="Third slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#testCar" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#testCar" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    </div>
  </div>
</div>


<div class="row justify-content-center comments">
  <div class="col-md-8">
    <div class="row">
      <div *ngFor="let comment of comments" class="container">
        <div class="row comments-body">
          <span>{{comment.body}}</span>
        </div>
      </div>
      <textarea [(ngModel)]="comment.body" rows="3" cols="90" [value]="text">
           Dodaj komentarz
      </textarea>
    </div>
    <div>
      <input (click)="addComment()" class="btn btn-primary comment-button" type="button" value="Dodaj Komentarz">
    </div>
  </div>
</div>

<app-footer-html></app-footer-html>

<div class="backdrop" [ngStyle]="{'display':display}"></div>
<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <p>Dodaj swoja ocene</p>
        <div>
          <span class="fa fa-star" id="star1" (click)='add(this,1)'></span>
          <span class="fa fa-star" id="star2" (click)='add(this,2)'></span>
          <span class="fa fa-star" id="star3" (click)='add(this,3)'></span>
          <span class="fa fa-star" id="star4" (click)='add(this,4)'></span>
          <span class="fa fa-star" id="star5" (click)='add(this,5)'></span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="addRate(5)">Zapisz</button>
        <button type="button" class="btn btn-default" (click)="onCloseHandled()">Wyjdz</button>
      </div>
    </div>
  </div>
</div>
